#   Copyright 2025 NEC Corporation
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Create an .env file based on this file
# このファイルを元に.envファイルを作成してください

# docker-compose parameter
COMPOSE_PROJECT_NAME=exastro
COMPOSE_PROFILES=exastro-it-automation-backyard,mongo

# 以下でRandom生成
# cat /dev/urandom | head -c 32 | base64
ENCRYPT_KEY=

# Exastro Platform, Exastro IT Automation Local Repositoryのパスを指定します
# Specify the path of Exastro Platform, Exastro IT Automation Local Repository.
PLATFORM_REPO_ROOT=
ITA_REPO_ROOT=

# external URL を指定します
# Specify external URL
EXTERNAL_URL=http://localhost:8000
EXTERNAL_URL_MNG=http://localhost:8001

# DBの接続先切り替え
#    Mariadbを使用する場合はコメントアウトを解除してください
PLATFORM_DBMS=mariadb
DB_HOST=ita-mariadb
PLATFORM_DB_HOST=ita-mariadb

# DBの接続先切り替え
#    MySQLを使用する場合は以下のコメントアウトを解除してください
# PLATFORM_DBMS=mysql
# DB_HOST=ita-mysql
# PLATFORM_DB_HOST=ita-mysql

# システム管理者 初期アカウント
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=password

# devcontainerでliveshareが使えない場合、以下を有効にすると環境によっては動く場合があります
# If liveshare cannot be used with devcontainer, enabling the following may work depending on the environment
# NODE_TLS_REJECT_UNAUTHORIZED=0

# docker network
NETWORK_ID=20230701

# gitlab settings
GITLAB_PROTOCOL=http
GITLAB_HOST=
GITLAB_PORT=
GITLAB_ROOT_TOKEN=


# Datebase setting
DB_PORT=3306
DB_DATABASE=ITA_DB
DB_USER=ITA_USER
DB_PASSWORD=password
DB_ADMIN_USER=root
DB_ADMIN_PASSWORD=password
MARIADB_ROOT_PASSWORD=password
MARIADB_DATABASE=ITA_DB
MARIADB_USER=ITA_USER
MARIADB_PASSWORD=password

# ansible agent settings
CONTAINER_BASE=docker
HOST_STORAGEPATH=

ANSIBLE_AGENT_IMAGE=exastro/exastro-it-automation-by-ansible-agent
ANSIBLE_AGENT_IMAGE_TAG=2.6.0

# mongo db setting
MONGO_INITDB_ROOT_USERNAME=adminer
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_ADMIN_USER=adminer
MONGO_ADMIN_PASSWORD=password
# MONGO_OPTION_SSL=FALSE
# MONGO_SCHEME=mongodb
# MONGO_HOST=mongodb-host
# MONGO_PORT=27017

# OASE_AGENT用
AG_OASE_AGENT_NAME=agent-oase-01
AG_OASE_EXASTRO_ORGANIZATION_ID=<your_org>
AG_OASE_EXASTRO_WORKSPACE_ID=<your_ws>
# AG_OASE_EXASTRO_USERNAME=your_username
# AG_OASE_EXASTRO_PASSWORD=your_pw
AG_OASE_EXASTRO_REFRESH_TOKEN=
AG_OASE_EXASTRO_URL=http://platform-auth:8000
AG_OASE_EVENT_COLLECTION_SETTINGS_NAMES=name1,name2
AG_OASE_ITERATION=10
AG_OASE_EXECUTE_INTERVAL=5
AG_OASE_LOG_LEVEL=DEBUG

# ANSIBLE_AGENT用
AG_ANSIBLE_AGENT_NAME=agent-ansible-execution-01
AG_ANSIBLE_EXASTRO_ORGANIZATION_ID=<your_org>
AG_ANSIBLE_EXASTRO_WORKSPACE_ID=<your_ws>
AG_ANSIBLE_EXASTRO_REFRESH_TOKEN=<refresh_token>
AG_ANSIBLE_EXASTRO_URL=http://platform-auth:8000
AG_ANSIBLE_ITERATION=10
AG_ANSIBLE_EXECUTE_INTERVAL=3
AG_ANSIBLE_LOG_LEVEL=DEBUG
AG_ANSIBLE_CHILD_PROCESS_RETRY_LIMIT=3
AG_ANSIBLE_EXECUTION_ENVIRONMENT_NAMES=

# ITA全体のAnsibleのMovement最大実行数（初期値）
SYSTEM_ANSIBLE_EXECUTION_LIMIT=25
SYSTEM_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION='Maximum number of movement executions for whole of IT automation'
# OrganizationごとのAnsibleのMovement最大実行数（初期値）
ORG_ANSIBLE_EXECUTION_LIMIT_DEFAULT=25
ORG_ANSIBLE_EXECUTION_LIMIT_MAX=1000
ORG_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION='Maximum number of movement executions for organization default'
# Systemのmenu-export/importの処理のバッファサイズ
SYSTEM_MENU_EXPORT_IMPORT_BUFFER_SIZE=10000
SYSTEM_MENU_EXPORT_IMPORT_BUFFER_SIZE_DESCRIPTION='Maximum buffer size of menu Export/import for System default (Used for DB fetch size, file stream read size)'
# Organizationごとの処理される保守レコードの最大数（初期値）
ORG_COMMON_MAINTENANCE_RECORDS_LIMIT_DEFAULT=10000
ORG_COMMON_MAINTENANCE_RECORDS_LIMIT_MAX=100000
ORG_COMMON_MAINTENANCE_RECORDS_LIMIT_DESCRIPTION='Maximum number of maintenance records processing for organization default'

# Organizationごとのファイルアップロードサイズ
ORG_COMMON_UPLOAD_FILE_LIMIT_DEFAULT=104857600
ORG_COMMON_UPLOAD_FILE_LIMIT_MAX=107374182400
ORG_COMMON_UPLOAD_FILE_LIMIT_DESCRIPTION='Maximum byte size of upload file for organization default'

# Systemのmenu-export/importの処理のバッファサイズ
SYSTEM_MENU_EXPORT_IMPORT_BUFFER_SIZE=10000
SYSTEM_MENU_EXPORT_IMPORT_BUFFER_SIZE_DESCRIPTION='Maximum buffer size of menu Export/import for System default (Used for DB fetch size, file stream read size)'
# Organizationごとのmenu-export/importのバッファサイズ
ORG_MENU_EXPORT_IMPORT_BUFFER_SIZE_DESCRIPTION='Maximum buffer size of menu Export/import for Organization default (Used for DB fetch size, file stream read size)'
ORG_MENU_EXPORT_IMPORT_BUFFER_SIZE_MAX=10000
ORG_MENU_EXPORT_IMPORT_BUFFER_SIZE_DEFAULT=1000

# Database Connection Public Port (The following is set by default, if you want to change it, please enable it and rewrite it to any number)
# Database 接続公開Port(以下がDefaultで設定されます、変更したい場合は有効にして任意の番号に書き換えてください)
# EXT_PORT_PLATFORM_DB=3307
# EXT_PORT_PLATFORM_UNITTEST_DB=3308
# EXT_PORT_PLATFORM_DB_MYSQL=3309
