# Exastro Network
NETWORK_ID=20230101

# 機器一覧設定用
EXASTRO_BASE_URL=http://platform-auth:8000
EXASTRO_USER_NAME=admin
EXASTRO_USER_PASSWORD=password
EXASTRO_ORG_ID=org1
EXASTRO_WS_ID=ws1

# テストサーバーのIP
HOST_SERVER_IP=

# SSHサーバー設定
#  ポート、ユーザー名はサーバー毎に区々にすること
SSH_SERVER_1_SSH_PORT=2122
SSH_SERVER_1_HTTP_PORT=8180
SSH_SERVER_1_USER_NAME=sshuser1
SSH_SERVER_1_USER_PASSWORD=password

SSH_SERVER_2_SSH_PORT=2222
SSH_SERVER_2_HTTP_PORT=8280
SSH_SERVER_2_USER_NAME=sshuser2
SSH_SERVER_2_USER_PASSWORD=password

SSH_SERVER_3_SSH_PORT=2322
SSH_SERVER_3_HTTP_PORT=8380
SSH_SERVER_3_USER_NAME=sshuser3
SSH_SERVER_3_USER_PASSWORD=password

AUTHENTICATION_METHOD=パスワード認証
# AUTHENTICATION_METHOD="Password authentication"

DOCKER_COMPOSE_COMMAND=sudo docker compose
# DOCKER_COMPOSE_COMMAND=sudo docker-compose
